.advantages {
	display: flex;
	justify-content: space-between;
	align-items: center;

	&--wrap {
		padding-top: 249px;
		padding-bottom: 111px;
		@media screen and (max-width: 715px) {
			padding-top: 70px;
			padding-bottom: 90px;
		}
	}

	&-img {
		width: 100%;
		max-width: 40.8%;
		@media screen and (max-width: 715px) {
			display: none;
		}

		img {
			width: 100%;
			height: auto;
			object-fit: contain;
			object-position: top;
		}
	}

	&__content {
		display: flex;
		flex-direction: column;
		max-width: 470px;
		margin-top: -10px;
		@media screen and (max-width: 715px) {
			max-width: none;
		}

		&-item {
			padding: 31px 30px 26px 74px;
			border-radius: 12px;
			transition: all .3s ease;
			cursor: pointer;
			@media screen and (max-width: 575px) {
				padding-left: 50px;
			}
			&:hover {
				background-color: white;
				box-shadow: 0 6px 12px 0 rgba(32, 33, 39, 0.08);
			}

			&--title {
				position: relative;
				margin-bottom: 7px;
				font-weight: 300;
				font-size: 16px;
				color: $col-black;
				letter-spacing: -.2;
				line-height: 20px;

				&:before {
					content: '';
					position: absolute;
					top: -3;
					left: -44px;
					background-image: url("../images/sprite.png");
				}

				&.sunc {
					&:before {
						width: 26px;
						height: 26px;
						background-position: -151px -1px;
					}
				}

				&.email {
					&:before {
						width: 26px;
						height: 23px;
						background-position: -123px -3px;
					}
				}

				&.track {
					&:before {
						width: 26px;
						height: 26px;
						background-position: -97px -1px;
					}
				}

				span {
					font-weight: 800;
					margin-right: 3px;
				}

			}

			&--text {
				font-weight: 400;
				font-size: 14px;
				line-height: 25px;
				letter-spacing: 0;
				color: $col-black;
			}
		}
	}
}