// font variable
$ff-NunitoSans: 'Nunito', sans-serif;

// color variables
$col-black: #282b31;
$col-gray: #676c75;

@import "common/reset";
@import "fonts";

@import "default";
@import "header";
@import "advantages";
@import "download";
@import "feature";
@import "video";
@import "choose";
@import "touch";
@import "footer";