.choose {
	display: flex;
	align-items: center;
	justify-content: space-between;
	@media screen and (max-width: 1000px){
		flex-direction: column;
	}

	&--wrap {
		padding-top: 120px;
		padding-bottom: 120px;
		@media screen and (max-width: 375px) {
			padding-top: 70px;
			padding-bottom: 90px;
		}
	}

	&__form {
		padding-top: 17px;

		&--wrap {
			max-width: 374px;
			@media screen and (max-width: 1000px){
				margin-bottom: 60px;
				max-width: none;
			}
		}

		&-title {
			margin-bottom: 16px;
			color: $col-black;
			@media screen and (max-width: 480px) {
				text-align: center;
			}
		}

		&-text {
			color: $col-gray;
			margin-right: 10px;
		}

		&-licenses {
			display: flex;
			align-items: center;
		}

		&-select {
			position: relative;

			&-value {
				display: block;
				line-height: 40px;
				width: 89px;
				padding-left: 15px;
				background-color: white;
				border-radius: 4px;
				box-shadow: 0 2px 6px 0 rgba(40, 43, 49, .08);
				font-weight: 800;
				font-size: 14px;
				letter-spacing: 0;
				color: $col-gray;
				cursor: pointer;
				position: relative;
				&:after {
					content: '';
					position: absolute;
					right: 13px;
					top: 17px;
					border: 5px solid transparent;
					border-top: 5px solid #e7e8ea;
					pointer-events: none;
				}
			}
			input {
				display: none;
			}

			.drop {

				top: 40px;
				width: 89px;
				border-bottom-left-radius: 4px;
				border-bottom-right-radius: 4px;
				box-shadow: 0 2px 6px 0 rgba(40, 43, 49, .08);
				background-color: white;

				li {
					font-weight: 800;
					font-size: 14px;
					letter-spacing: 0;
					color: $col-gray;
				}
			}
		}

		&-code {
			display: flex;
			align-items: center;
			@media screen and (max-width: 375px) {
				flex-direction: column;
				align-items: flex-start;
			}

			label {
				position: relative;
				@media screen and (max-width: 375px) {
					margin-bottom: 20px;
				}

				input {
					width: 206px;
					line-height: 40px;
					border-radius: 4px;
					background-color: white;
					box-shadow: 0 2px 6px 0 rgba(40, 43, 49, .08);
					padding-left: 15px;
					border: none;
					&:hover + span,
					&:focus + span {
						opacity: 0;
						transform: translateY(-100%);
					}
				}

				input,
				span {
					font-weight: 400;
					font-size: 14px;
					letter-spacing: 0;
					color: $col-gray;
				}

				span {
					position: absolute;
					pointer-events: none;
					left: 15px;
					top: 50%;
					transform: translateY(-50%);
					transition: all .3s ease;
					&.active {
						opacity: 0;
						transform: translateY(-100%);
					}
				}
			}
			.btn-blue {
				display: inline-block;
				border-radius: 6px;
				box-shadow: 0 6px 12px rgba(40, 43, 49, 0.08);
				background-image: linear-gradient(-225deg, #7956ec 0%, #2fb9f8 100%);
				line-height: 40px;
				font-weight: 700;
				font-size: 14px;
				letter-spacing: 1px;
				color: white;
				padding-left: 46px;
				padding-right: 42px;
				margin-left: 15px;
				position: relative;
				z-index: 0;
				transition: all .3s ease;
				@media screen and (max-width: 375px) {
					margin-left: 0;
				}

				&:before {
					content: '';
					position: absolute;
					left: 0;
					top: 0;
					height: 100%;
					width: 100%;
					z-index: -1;
					border-radius: inherit;
					opacity: 0;
					transition: all .4s ease-in;
					background-image: linear-gradient(-225deg, #2fb9f8 0%, #7956ec 100%);
				}

				&:hover {
					&:before {
						opacity: 1;
					}
				}
			}

			&--wrap {
				padding-top: 17px;

				.text {
					color: $col-gray;
				}
			}
		}
	}

	&__plan {
		display: flex;
		align-items: center;
		@media screen and (max-width: 615px) {
			flex-direction: column;
		}
		@media screen and (max-width: 480px) {
			width: 100%;
		}

		&-item {
			display: flex;
			flex-direction: column;
			padding-top: 50px;
			padding-bottom: 60px;
			border-radius: 12px;

			&--title {
				width: 100%;
				text-align: center;
				line-height: 39px;
				font-weight: 800;
				font-size: 11px;
				letter-spacing: 2px;
				text-transform: uppercase;
			}

			.price {
				font-weight: 300;
				text-align: center;
				letter-spacing: 0;
			}

			.list {
				display: flex;
				flex-direction: column;
				padding-left: 23%;
				li {
					font-weight: 400;
					font-size: 15px;
					line-height: 30px;
					letter-spacing: 0;
					position: relative;

					&:before {
						content: '';
						position: absolute;
						left: -30px;
						top: 9px;
						width: 16.3px;
						height: 12px;
						background-image: url("../images/sprite.png");
					}

				}

			}

			.btn-gradient {
				padding-left: 85px;
				padding-right: 85px;
				margin-left: auto;
				margin-right: auto;
			}

			.btn-green {
				display: inline-block;
				margin-left: auto;
				margin-right: auto;
				line-height: 50px;
				border-radius: 6px;
				box-shadow: 0 6px 12px 0 rgba(40, 43, 49, .08);
				background-image: linear-gradient(-225deg, #009fc5 0%, #3cecb0 100%);
				font-weight: 700;
				font-size: 17px;
				letter-spacing: 1px;
				color: white;
				padding-left: 80px;
				padding-right: 80px;
				position: relative;
				z-index: 0;

				&:before {
					content: '';
					position: absolute;
					left: 0;
					top: 0;
					height: 100%;
					width: 100%;
					z-index: -1;
					border-radius: inherit;
					opacity: 0;
					transition: all .4s ease-in;
					background-image: linear-gradient(-225deg, #3cecb0 0%, #009fc5 100%);
				}

				&:hover {
					&:before {
						opacity: 1;
					}
				}
			}

			&.professional {
				background-image: url("../images/background.png");
				background-position: center;
				background-size: cover;
				width: 350px;
				margin-right: -14px;
				z-index: 1;
				@media screen and (max-width: 1075px){
					width: 320px;
				}
				@media screen and (max-width: 615px) {
					margin-right: 0;
					margin-bottom: 40px;
				}
				@media screen and (max-width: 480px) {
					width: 100%;
				}

				.choose__plan-item {
					&--title {
						color: white;
						background-color: rgba(255, 255, 255, 0.07);
						box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.3), inset 0 1px 0 0 rgba(255, 255, 255, 0.3);
					}
				}

				.price {
					font-size: 60px;
					color: white;
					padding-top: 40px;
					margin-bottom: 32px;
				}

				.list {
					margin-bottom: 30px;

					li {
						color: white;

						&:before {
							background-position: -115px 42px;
						}
					}
				}

			}

			&.starter {
				background-color: white;
				width: 335px;
				height: 100%;
				box-shadow: 0 1px 3px 0	rgba(32, 33, 39, 0.12);
				@media screen and (max-width: 1075px){
					width: 300px;
				}
				@media screen and (max-width: 480px) {
					width: 100%;
				}

				.choose__plan-item {
					&--title {
						color: $col-gray;
						background-color: #f8f9fa;
						box-shadow: 0 1px 0 0 #e7e8ea, inset 0 1px 0 0 #e7e8ea;
					}
				}

				.price {
					font-size: 40px;
					color: $col-black;
					padding-top: 35px;
					margin-bottom: 35px;
				}

				.list {
					margin-bottom: 40px;

					li {
						color: $col-gray;

						&:before {
							background-position: -136px 44px;
						}
					}
				}
			}
		}

	}
}

