body {
	font-family: $ff-NunitoSans;
	background-color: #f8f9fa;
}

.no-scroll {
	overflow: hidden;
	body {
		overflow: hidden;
	}
}

.wrapper {
	width: 100%;
	max-width: 1190px;
	padding-left: 10px;
	padding-right: 10px;
	margin-left: auto;
	margin-right: auto;
}

.btn-white {
	display: inline-block;
	border-radius: 6px;
	background-color: white;
	box-shadow: 0 6px 12px rgba(40, 43, 49, 0.08);
	font-weight: 700;
	color: $col-black;
	position: relative;
	transition: all .4s cubic-bezier(0.4, 0, 1, 1);

	&:hover {
		background-color: $col-black;
		color: white;
	}

}

.btn-gradient {
	display: inline-block;
	border-radius: 6px;
	box-shadow: 0 6px 12px rgba(40, 43, 49, 0.08);
	background-image: linear-gradient(-225deg, #ff8e64 0%, #ffe641 100%);
	font-weight: 700;
	font-size: 17px;
	color: white;
	letter-spacing: 1px;
	line-height: 50px;
	position: relative;
	z-index: 0;

	&:before {
		content: '';
		position: absolute;
		left: 0;
		top: 0;
		height: 100%;
		width: 100%;
		z-index: -1;
		border-radius: inherit;
		opacity: 0;
		transition: all .4s ease-in;
		background-image: linear-gradient(-225deg, #ffe641 0%, #ff8e64 100%);
	}

	&:hover {
		&:before {
			opacity: 1;
		}
	}

}

.title {
	font-weight: 300;
	font-size: 35px;
	line-height: 50px;
	letter-spacing: 0;
	span {
		font-weight: 800;
		margin-right: 10px;
	}
}

.text {
	font-weight: 400;
	font-size: 16px;
	line-height: 30px;
	letter-spacing: 0;
}

.done {
	animation: pulse .3s linear infinite;
}

.drop {
	position: absolute;
	z-index: 3;
	right: 0;
	display: flex;
	flex-direction: column;
	transition: all .3s linear;
	transform: scaleY(0);
	transform-origin: top;

	&.active {
		transform: scaleY(1);
	}

	li {
		width: 100%;
		border-top: .5px solid rgba($col-gray, .4);
		text-align: center;
		line-height: 31px;
		cursor: pointer;
		transition: all .3s ease;

		&:hover {
			box-shadow: inset 0 0 16px 2px rgba(40, 43, 49, 0.2);
		}
	}
}


