.download {
	display: flex;
	align-items: center;
	justify-content: space-between;
	@media screen and (max-width: 575px) {
		flex-direction: column;
	}

	&--wrap {
		padding-top: 73px;
		padding-bottom: 80px;
		background-image: url("../images/background.png");
		background-position: top;
		background-size: cover;
	}

	&__content {
		max-width: 570px;
		width: 100%;
		@media screen and (max-width: 768px) {
			width: auto;
			max-width: none;
		}

		&-title {
			margin-bottom: 18px;
			letter-spacing: 1.2px;
			color: white;
		}

		&-text {
			color: white;
			opacity: .8;
		}

	}

	&__link {
		display: flex;
		align-items: center;
		justify-content: flex-end;
		padding-top: 4px;
		width: 100%;
		@media screen and (max-width: 768px) {
			flex-direction: column;
		}
		@media screen and (max-width: 575px) {
			flex-direction: row;
			justify-content: space-around;
			padding-top: 25px;
		}
		@media screen and (max-width: 375px) {
			flex-direction: column;
			justify-content: flex-end;
		}


		.bye {
			padding-left: 33px;
			padding-right: 34px;
			margin-right: 20px;
			@media screen and (max-width: 768px) {
				margin-right: 0;
				margin-bottom: 25px;
			}
			@media screen and (max-width: 575px) {
				margin-bottom: 0;
			}
			@media screen and (max-width: 375px) {
				margin-bottom: 25px;
			}
		}

		.free {
			line-height: 50px;
			padding-left: 39px;
			padding-right: 38px;
			letter-spacing: 1.4px;
		}
	}

}