.feature {
	display: flex;
	flex-direction: column;

	&--wrap {
		padding-top: 120px;
		padding-bottom: 120px;
		@media screen and (max-width: 375px) {
			padding-top: 70px;
			padding-bottom: 90px;
		}
	}

	&__item {
		display: flex;
		@media screen and (max-width: 575px) {
			flex-direction: column;
			&:nth-child(2) {
				flex-direction: column-reverse;
			}
		}

		&-img {
			width: 50%;
			background-image: url("../images/background.png");
			background-size: cover;
			background-position: center;
			display: flex;
			align-items: flex-end;
			justify-content: center;
			@media screen and (max-width: 575px) {
				width: 100%;
				padding-top: 30px;
			}

			img {
				width: 71.23%;
				height: auto;
				object-position: bottom;
				object-fit: contain;
			}
		}

		&-content {
			width: 50%;
			padding: 173px 9% 180px;
			background-color: white;
			@media screen and (max-width: 1000px){
				padding: 113px 9% 130px;
			}
			@media screen and (max-width: 768px) {
				padding: 73px 3% 90px;
			}
			@media screen and (max-width: 615px) {
				padding: 33px 3% 40px;
			}
			@media screen and (max-width: 575px) {
				width: 100%;
			}

			&-title {
				margin-bottom: 17px;
				text-align: center;
				color: $col-black;
			}

			&-text {
				text-align: center;
				color: $col-gray;
			}

		}

	}

}