@mixin fontface($name, $file, $weight, $style){
	@font-face {
		font-family: "#{$name}";
		font-weight: $weight;
		font-style: $style;
		src: url('../fonts/#{$file}.eot');
		src: url('../fonts/#{$file}.eot?#iefix') format('embedded-opentype'),
		url('../fonts/#{$file}.woff') format('woff'),
		url('../fonts/#{$file}.ttf') format('truetype'),
		url('../fonts/#{$file}.svg?#webfont') format('svg');
	}
}

@include fontface(NunitoSans,Nunito-Regular,400,normal)
@include fontface(NunitoSans,Nunito-ExtraBold,800,normal)
@include fontface(NunitoSans,Nunito-Bold,700,normal)
@include fontface(NunitoSans,Nunito-Light,300,normal)


