.footer {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	@media screen and (max-width: 375px) {
		flex-direction: column;
		align-items: center;
	}

	&__logo {
		font-weight: 800;
		font-size: 20px;
		line-height: 25px;
		color: $col-black;
		margin-top: -7px;
		@media screen and (max-width: 375px) {
			margin-bottom: 15px;
			margin-top: 0;
		}
	}

	&__copy {
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding-left: 14px;
		@media screen and (max-width: 375px) {
			margin-bottom: 15px;
			padding-left: 0;
		}

		p {
			font-weight: 400;
			font-size: 11px;
			text-align: center;
			letter-spacing: 0;
			color: #999ae8;
			margin-bottom: 14px;

			i {
				display: inline-block;
				width: 12px;
				height: 11px;
				background-image: url("../images/sprite.png");
				background-position: -98px 44px;
				margin-left: 3px;
				margin-right: 5px;
			}

			a {
				font-weight: 700;
				color: $col-black;
			}
		}
	}

	&__social {
		display: flex;
		margin-top: -14px;
		@media screen and (max-width: 375px) {
			margin-bottom: 15px;
			margin-top: 0;
		}

		a {
			width: 40px;
			height: 40px;
			border: 1px solid #e7e8ea;
			background-color: white;
			transition: all .3s ease;
			position: relative;

			&:before {
				content: '';
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				background-image: url("../images/sprite.png");
			}

			&:hover {
				background-color: rgba(white, .8);
			}

			&.twitter {
				border-bottom-left-radius: 6px;
				border-top-left-radius: 6px;
				border-right: none;
				&:before {
					width: 16px;
					height: 13px;
					background-position: -97px -31px;
				}
			}

			&.facebook {
				&:before {
					width: 9px;
					height: 16px;
					background-position: -140px -28px;
				}
			}

			&.instagram {
				border-top-right-radius: 6px;
				border-bottom-right-radius: 6px;
				border-left: none;

				&:before {
					width: 16px;
					height: 16px;
					background-position: -117px -29px;
				}
			}
		}
	}

	&--wrap {
		padding-top: 39px;
		padding-bottom: 18px;
	}

}