.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: relative;

	&--wrap {
		padding-top: 24px;
		background-image: url("../images/background.png");
		background-size: cover;
	}

	&__logo {
		font-size: 20px;
		font-weight: 800;
		color: white;
		letter-spacing: 0.3px;
	}

	&__nav {
		display: flex;
		align-items: center;
		justify-content: flex-end;
		@media screen and (max-width: 768px) {
			z-index: 1;
			position: absolute;
			left: 0;
			top: -24px;
			width: 100%;
			height: 100vh;
			flex-direction: column;
			justify-content: flex-start;
			padding-top: 50px;
			background-color: #f8f9fa;
			transition: all .5s ease-in-out;
			transform-origin: top right;
			transform: scale(0);
			border-bottom-left-radius: 3000px;
			&.active {
				transform: scale(1);
				border-bottom-left-radius: 0;
			}
		}

		&-link {
			display: block;
			font-weight: 400;
			font-size: 15px;
			color: white;
			margin-right: 31px;
			position: relative;
			@media screen and (max-width: 768px) {
				margin-right: 0;
				color: $col-black;
				margin-bottom: 25px;
				font-size: 18px;
			}

			&:after {
				content: '';
				position: absolute;
				left: 0;
				bottom: -5px;
				width: 30px;
				height: 2px;
				background-color: white;
				transform: scaleX(0);
				transform-origin: left;
				transition: all .3s ease-in;
			}

			&:hover {
				&:after {
					transform: scaleX(1);
				}
			}
		}

		&-btn {
			font-size: 14px;
			letter-spacing: .8px;
			line-height: 40px;
			padding-left: 20px;
			padding-right: 17px;

		}
	}

	&__burger {
		display: none;
		@media screen and (max-width: 768px) {
			display: block;
			width: 40px;
			height: 30px;
			z-index: 2;
			position: relative;

			span {
				display: block;
				position: absolute;
				width: 40px;
				height: 6px;
				transform-origin: 50% 50%;
				background-color: white;
				pointer-events: none;
				transition: transform .4s ease-out;
				&:nth-child(1) {
					top: 0;
				}
				&:nth-child(2) {
					top: 12px;
					opacity: 1;
					transition: transform .4s ease-out, opacity 0ms linear 200ms;
				}
				&:nth-child(3) {
					top: 24px;
				}
			}

			&.active {
				span {
					background-color: $col-black;
				}
				span {
					&:nth-child(1) {
						animation: burgTopActive .4s ease-out forwards;
					}
					&:nth-child(2) {
						opacity: 0;
					}
					&:nth-child(3) {
						animation: burgBotActive .4s ease-out forwards;
					}
				}
			}

			&.close {
				span {
					&:nth-child(1) {
						animation: burgTopClose .4s ease-out forwards;
					}

					&:nth-child(3) {
						animation: burgBotClose .4s ease-out forwards;
					}
				}
			}


		}
	}

	&__tablet {
		display: flex;
		justify-content: space-between;
		padding-top: 166px;
		padding-bottom: 180px;
		position: relative;
		@media screen and (max-width: 768px) {
			padding-top: 96px;
			padding-bottom: 90px;
		}
		@media screen and (max-width: 615px) {
			padding-top: 56px;
			padding-bottom: 30px;
		}

		&-content {
			display: flex;
			flex-direction: column;
			max-width: 48%;
			@media screen and (max-width: 480px) {
				max-width: none;
			}
		}

		&-ico {
			width: 90px;
			height: 92px;
			background-image: url("../images/sprite.png");
			background-position: -3px -3px;
			margin-bottom: 33px;
			@media screen and (max-width: 480px) {
				margin-right: auto;
				margin-left: auto;
			}
		}

		&-title {
			color: white;
			letter-spacing: 1px;
			margin-bottom: 35px;
			@media screen and (max-width: 480px) {
				text-align: center;
			}
			@media screen and (max-width: 375px) {
				margin-bottom: 25px;
			}
			span {
				letter-spacing: 1.4px;
			}
		}

		&-link {
			display: flex;
			align-items: center;
			@media screen and (max-width: 715px) {
				flex-direction: column;
			}
			@media screen and (max-width: 480px) {
				flex-direction: row;
				justify-content: space-around;
			}
			@media screen and (max-width: 375px) {
				flex-direction: column;
			}

			.download {
				padding-left: 16px;
				padding-right: 17px;
				margin-right: 20px;
				@media screen and (max-width: 715px) {
					margin-right: 0;
					margin-bottom: 25px;
				}
				@media screen and (max-width: 480px) {
					margin-right: 17px;
					margin-bottom: 0;
				}
				@media screen and (max-width: 375px) {
					margin-right: 0;
					margin-bottom: 25px;
				}
			}

			.watch {
				line-height: 50px;
				letter-spacing: 1.5px;
				padding-left: 17px;
				padding-right: 15px;
			}
		}

		&-img {
			position: absolute;
			bottom: -140px;
			right: 4.5%;
			width: 40.3%;
			@media screen and (max-width: 768px) {
				bottom: -70px;
			}
			@media screen and (max-width: 480px) {
				display: none;
			}

			img {
				width: 100%;
				height: auto;
				object-fit: contain;
				object-position: bottom;
			}
		}
	}
}


@keyframes burgTopActive {
	50% {
		transform: translate3d(0, 12px, 0);
	}
	100% {
		transform: translate3d(0, 12px, 0) rotate(45deg);
	}
}

@keyframes burgBotActive {
	50% {
		transform: translate3d(0, -12px, 0);
	}
	100% {
		transform: translate3d(0, -12px, 0) rotate(-45deg);
	}
}

@keyframes burgTopClose {
	0% {
		transform: translate3d(0, 12px, 0) rotate(45deg);
	}
	50% {
		transform: translate3d(0, 12px, 0) rotate(0deg);
	}
	100% {
		transform: translate3d(0, 0, 0);
	}
}

@keyframes burgBotClose {
	0% {
		transform: translate3d(0, -12px, 0) rotate(-45deg);
	}
	50% {
		transform: translate3d(0, -12px, 0) rotate(0deg);
	}
	100% {
		transform: translate3d(0, 0, 0);
	}
}
