.touch {

	&--wrap {
		padding-top: 113px;
		padding-bottom: 120px;
		background-image: url("../images/background.png");
		background-size: cover;
		@media screen and (max-width: 375px) {
			padding-top: 70px;
			padding-bottom: 90px;
		}
	}

	&-title {
		color: white;
		text-align: center;
		margin-bottom: 17px;
	}

	&-text {
		color: rgba(255, 255, 255, 0.8);
		text-align: center;
		max-width: 570px;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 59px;
	}

	&__form {
		background-color: white;
		border-radius: 12px;
		box-shadow: 0 12px 24px 0 rgba(40, 43, 49, 0.16);
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 70px;
		max-width: 770px;
		margin: 0 auto;
		@media screen and (max-width: 615px) {
			padding: 60px 20px;
		}

		&-group {
			display: flex;
			align-items: center;
			justify-content: space-between;
			width: 100%;
			margin-bottom: 20px;
			@media screen and (max-width: 480px) {
				flex-direction: column;
				margin-bottom: 0;
			}
			& > div {
				width: calc(50% - 10px);
				position: relative;
				@media screen and (max-width: 480px) {
					width: 100%;
					margin-bottom: 20px;
				}
			}

			.drop {
				top: 44px;
				width: 100%;
				background-color: #f8f9fa;
				border-bottom-right-radius: 6px;
				border-bottom-left-radius: 6px;

				li {
					font-weight: 400;
					font-size: 17px;
					letter-spacing: 0;
					color: #b9bdc3;
				}
			}
		}

		&-input {
			position: relative;
			width: calc(50% - 10px);
			@media screen and (max-width: 480px) {
				width: 100%;
				margin-bottom: 20px;
			}
			input {
				width: 100%;
				border-radius: 6px;
				border: 1px solid #e7e8ea;
				background-color: #f8f9fa;
				padding-left: 20px;
				line-height: 46px;

				&:hover + span,
				&:focus + span {
					opacity: 0;
					transform: translateY(-100%);
				}
			}

			span,
			input {
				font-weight: 400;
				font-size: 17px;
				letter-spacing: 0;
				color: #b9bdc3;
			}

			span {
				position: absolute;
				pointer-events: none;
				left: 20px;
				top: 50%;
				transform: translateY(-50%);
				transition: all .3s ease;
				&.active {
					opacity: 0;
					transform: translateY(-100%);
				}
			}
		}

		&-select {
			position: relative;

			input {
				display: none;
			}

			span {
				display: block;
				font-weight: 400;
				font-size: 17px;
				letter-spacing: 0;
				color: #b9bdc3;
				width: 100%;
				border-radius: 6px;
				border: 1px solid #e7e8ea;
				background-color: #f8f9fa;
				padding-left: 20px;
				line-height: 46px;
				cursor: pointer;
				position: relative;

				&:after {
					content: '';
					position: absolute;
					right: 20px;
					top: 20px;
					border: 5px solid transparent;
					border-top: 5px solid #e7e8ea;
					pointer-events: none;
				}
			}
		}

		&-textarea {
			position: relative;
			width: 100%;
			margin-bottom: 28px;

			textarea {
				font-family: $ff-NunitoSans;
				width: 100%;
				border-radius: 6px;
				border: 1px solid #e7e8ea;
				background-color: #f8f9fa;
				padding-left: 29px;
				padding-top: 30px;
				line-height: 22px;
				height: 140px;
				resize: vertical;

				&:hover + span,
				&:focus + span {
					opacity: 0;
					transform: translateY(-100%);
				}
			}

			span,
			textarea {
				font-weight: 400;
				font-size: 17px;
				letter-spacing: 0;
				color: #b9bdc3;
			}

			span {
				position: absolute;
				pointer-events: none;
				left: 30px;
				top: 29px;
				transition: all .3s ease;
				&.active {
					opacity: 0;
					transform: translateY(-100%);
				}
			}
		}

		.btn-gradient {
			padding-left: 17px;
			padding-right: 17px;
		}
	}

}