.video {
	width: 100%;
	height: 515px;
	@media screen and (max-width: 480px) {
		height: 320px;
	}

	&--wrap {
		position: relative;
		overflow: hidden;
	}

	&__overlay {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding-top: 113px;
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		background-image: url("../images/video_bg.png");
		background-size: cover;
		background-position: center;
		z-index: -1;
		visibility: hidden;
		opacity: .3;
		transform: scale(1.2);
		transform-origin: center;
		transition: all .7s ease;
		@media screen and (max-width: 480px) {
			padding-top: 15px;
		}

		&[data-show="true"] {
			transform: scale(1);
			visibility: visible;
			z-index: 1;
			opacity: 1;
		}

		&-title {
			padding-bottom: 18px;
			text-align: center;
			color: white;
		}

		&-text {
			padding-bottom: 18px;
			max-width: 570px;
			text-align: center;
			color: white;
			opacity: .8;
		}

		&-btn {
			position: relative;
			width: 130px;
			height: 130px;
			@media screen and (max-width: 480px) {
				width: 100px;
				height: 100px;
			}

				&:after,
				&:before {
				content: '';
				position: absolute;
				left: 50%;
				top: 50%;
				transform: translate(-50%, -50%);
			}

			&:after {
				width: 70px;
				height: 70px;
				background-color: white;
				box-shadow: 0 6px 12px 0 rgba(40, 43, 49, .08);
				border-radius: 100px;
				z-index: 1;
			}

			&:before {
				width: 21px;
				height: 24px;
				background-image: url("../images/sprite.png");
				background-position: -99px -69px;
				z-index: 2;
			}

			span {
				position: absolute;
				left: 50%;
				top: 50%;
				transform: translate(-50%, -50%);
				pointer-events: none;
				border-radius: 100px;
				width: 100%;
				height: 100%;
				border: 1px solid rgba(white, .1);

				&:after,
				&:before {
					content: '';
					position: absolute;
					left: 50%;
					top: 50%;
					transform: translate(-50%, -50%);
					border-radius: 100px;
				}

				&:after {
					width: 110px;
					height: 110px;
					border: 2px solid rgba(white, .3);
				}

				&:before {
					width: 90px;
					height: 90px;
					border: 3px solid rgba(white, .5);
				}
			}

			&:hover {
				animation: pulse .6s ease;
			}

		}
	}
}

@keyframes pulse {
	0% {
		transform: scale(1);
	}
	50% {
		transform: scale(.8);
	}
	100% {
		transform: scale(1);
	}
}